
img{
  max-width:300px;
  width:100%;
}

body{
  text-align: center;
  text-shadow: 1.2px 1px 1px black, 3.2px 2.2px 1px purple, 5px 5px 1px #1a0101;
  color: antiquewhite;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  background: repeating-radial-gradient(circle at 100%, #333, #333 10px, #eee 10px,purple 20px);
}

img {
  max-width: 300px;
  width: 100%;
  box-shadow: 0.12px 0.24px 3px 0.1px #a37c3d, 0.48px 0.48px 3px 1px #a37c3d;
}




img {
  max-width: 300px;
  width: 100%;
  box-shadow: 0.12px 0.24px 3px 0.1px #a37c3d, 0.48px 0.48px 3px 1px #a37c3d;
}

body {
  text-align: center;
  text-shadow: 1.2px 1px 1px white, 3.2px 2.2px 1px purple, 5px 5px 1px #1a0101, 5.1px 5.7px 0px black, 6px 6px 0px white;
  color: mediumpurple;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  background: repeating-radial-gradient(circle at 100%, #333, #333 10px, #eee 10px,purple 20px);
}

button {
  border-radius: 9px;
  box-shadow: 3px 2px 2px 0px black;
  color: purple;
  text-shadow: 0.5px 0.5px 0px black, 1.75px 1.75px 1px white, 2px 3px 1px purple;
  font-size: 2rem;
}

button:hover {
  background: purple;
  color: white;
  box-shadow: 1px 1px 1px 1px black;
  text-shadow: 1px 3px 0px black;
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
  box-shadow: inset -7px -1px 7px 3px black;
  color: purple;
  text-shadow: 1px 1px 0px white, 1.4px 1.4px 1px black, 1.7px 1.7px 1px grey, 2px 2px 1px white, 2.5px 2.5px 1px white;
  background: black;
}